body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0094EB;
    color: black;
}

header {
    background: #0041EB;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #0036BB;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}

nav ul li a:hover::after {
    width: 100%;
}

.hero {
    position: relative;
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.fade {
    animation: fade 1.5s ease-in-out;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.welcome-message {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

section {
    padding: 60px 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 45%;
    margin: 2.5%;
    background: #9A00EB;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project h3, .project p {
    transition: font-size 0.3s ease;
}

.project:hover h3 {
    font-size: 1.2em;
}

.project:hover p {
    font-size: 1.1em;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input, form textarea {
    margin-bottom: 10px;
}

form button {
    padding: 10px;
    background: #0041EB;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #0036BB;
}
