h1 {
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

.project {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.project:hover {
    transform: translateX(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.project h2 {
    margin-top: 0;
}

.project p {
    color: #555;
}